body {
  background-color: #776d8a;
}


hr {
  background-color: #ffd36b;
  border-style: none;
  height: 2px;
}

h3{
color:#f6f6f6
}

h1{
  color:#f6f6f6
}

h2{
  color: #f6f6f6
}

p{
  color: #f6f6f6
}

th{
color: #f6f6f6
}

td{
  color: #f6f6f6
}

li{
  color:#f6f6f6
}
